* {
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.head-section {
    margin-top: 12px;
    text-align: center;
    /* justify-content: center; */
}

.head-section h1 {
    border: 2cap double #C40C0C;
    border-radius: 15px;
    background: white;
    animation: border-pluse 3s infinite;
}

@keyframes border-pluse {
    0% {
        border-color: #E5D9F2;
    }

    50% {
        border-color: #FF6600;
    }

    100% {
        border-color: #FABC3F;
    }
}

.head-image {
    border: 2px solid wheat;
    border-radius: 5px;
    padding: 21px;
}

.head-image img:hover {
    transform: scale(1.1);
    transition: 1.5s;
    border-radius: 10px;
}

.main-section {
    margin-top: 8px;
    border: 1.5px dotted wheat;
    text-align: center;
    margin-bottom: 8rem;
}

h2 {
    color: #C40C0C;
    text-decoration: underline;
}

.ingredients-list {
    border: 2px double wheat;
    border-radius: 11px;
    margin: 0% 10%;
    padding: 33px;

}

.ingredients-list:hover {
    border: 2px solid #FABC3F;
}

.instruction-list {
    border: 2px double wheat;
    border-radius: 11px;
    margin: 0% 10%;
    padding: 33px;
    margin-bottom: 30px;
}
.instruction-list:hover{
    border: 2px solid #FABC3F;
}

.note {
    margin-top: 15px;
    border: 2px double wheat;
    border-radius: 11px;
    margin: 0% 10%;
    padding: 33px;

}

.same:hover {
    transform: scale(1.05);
    transition: 2s;
    border: 2px solid #FABC3F;
}

.footer-section {
    text-align: center;
    justify-content: center;
    border-top: 2px dotted #232323;;
    height: 19rem;
}
.footer-section img{
    background-color: none;
    color: black;
    font-weight: 900;
}
.footer-icon{
    font-size: 25px;
    padding: 7px;
    color: black;
}
.btn:hover{
    font-size: 25px;
    transform: scale(1.3);
    transition: 1.5s;
    color: #D91656;
}
.btn{
    margin: 5px;
    border: 2px dotted #FABC3F;
    padding: 2px;
    border-radius: 5px;
}